#or_background {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 200;
     background-color:rgba(0,0,0,0.8);
}

#or_popover {
  width: 860px; 
  height: 480px; 
  border: 1px solid black; 
  position: fixed; 
  top: 44px; 
  left: 50%; 
  margin: 0 0 0 -431px !important;
  background-color:white;
  z-index: 201;
  padding: 24px !important;
  overflow:scroll;
}

#or_popover textarea {
  width:314px;
  height: 44px;
}

.table {
	margin:0px;
  padding:0px;
	width:80%;
	border:1px solid #3f7f00;
	
	-webkit-border-radius:3px;
}

.table table {
	width:100%;
	margin:0px;padding:0px;
}

.table tr:nth-child(odd){ background-color:#d4ffaa; }
.table tr:nth-child(even){ background-color:#ffffff; }

.table td {
  height: 32px;
	vertical-align:middle;	
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table tr:first-child td{
	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.table tr:first-child:hover td{
	background-color:#5fbf00;
}
.table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}